<div id="footer">
    <div id="social">
        <ul>
            <li class="vk">              
                    <a href="https://vk.com/" class="icon"><div class="icon-vk"></div></a>
            </li>
            <li class="facebook">
                <a href="https://www.facebook.com/" class="icon"><div class="icon-facebook"></div></a>
            </li>
            <li class="twitter">
                <a href="https://twitter.com/" class="icon"><div class="icon-twitter"></div></a>
            </li>
        </ul>
    </div>
    <p>Copyright &#169; N.V.Vologzhanina</p>
</div>