<div class="cont">
        <h2>О компании.</h2>
        <p>Компания занимается продажей плетёных браслетов.</p>
        <p>Все товары имеются в единственном экземпляре. Возможен повтор по договорённости.</p>
          <div class="gallery">
              <a href="1.jpg" target="_blank">
                <img src="1.jpg" alt="Fires" id=1>
                <div class="desc">
                  <p>Магические огни.</p>
                  150 руб.
                </div>
              </a>
          </div>
          <div class="gallery">
              <a href="2.jpg" target="_blank">
                <img src="2.jpg" alt="Horde">
                <div class="desc">
                  <p>Знак Орды.</p>
                  250 руб.
                </div>
              </a>
          </div>
          <div class="gallery">
              <a href="3.jpg" target="_blank">
                <img src="3.jpg" alt="Eyes">
                <div class="desc">
                  <p>Знак альянса.</p>
                  250 руб.
                </div>
              </a>
          </div>
      </div>
      